<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.panzh.teamindexservice.mapper.NewsInfoMapper">

    <resultMap id="NewsVO" type="com.panzh.vo.NewsInfoVO">
        <id column="new_id" property="newId" jdbcType="INTEGER"></id>
        <result column="new_value" property="newValue" jdbcType="VARCHAR"></result>
        <result column="new_title" property="newTitle" jdbcType="VARCHAR"></result>
        <result column="new_time" property="newTime" jdbcType="TIMESTAMP"></result>
        <result column="new_imge" property="newImge" jdbcType="VARCHAR"></result>
        <result column="new_times" property="newTimes" jdbcType="INTEGER"></result>
        <result column="type_id" property="typeId" jdbcType="INTEGER"></result>
        <result column="user_stid" property="userStid" jdbcType="VARCHAR"></result>
        <association property="userInfo" javaType="com.panzh.entity.UserInfo">
            <id column="user_id" property="userId" jdbcType="INTEGER"/>
            <result column="user_name" property="userName" jdbcType="VARCHAR"/>
            <result column="user_sex" property="userSex" jdbcType="VARCHAR"/>
            <result column="user_class" property="userClass" jdbcType="VARCHAR"/>
            <result column="user_college" property="userCollege" jdbcType="VARCHAR"/>
            <result column="user_stid" property="userStid" jdbcType="VARCHAR"/>
            <result column="user_power" property="userPower" jdbcType="INTEGER"/>
            <result column="user_pass" property="userPass" jdbcType="VARCHAR"/>
            <result column="user_use" property="userUse" jdbcType="INTEGER"/>
            <result column="user_ph" property="userPh" jdbcType="VARCHAR"/>
            <result column="usert_imge" property="usertImge" jdbcType="VARCHAR"/>
            <result column="user_createtime" property="userCreatetime" jdbcType="TIMESTAMP"></result>
        </association>
    </resultMap>
    <resultMap id="SimpleNewsVO" type="com.panzh.vo.SimpleNewsInfoVO">
        <id column="new_id" property="newId" jdbcType="INTEGER"></id>
        <result column="new_title" property="newTitle" jdbcType="VARCHAR"></result>
        <result column="new_imge" property="newImge" jdbcType="VARCHAR"></result>
        <result column="new_times" property="newTimes" jdbcType="INTEGER"></result>
    </resultMap>


    <!--    List<NewsInfoVO> selecAllNewsVO(int typeId);-->
    <select id="selecAllNewsVO" resultMap="NewsVO" parameterType="int">
        select news_info.*,user_info.*
        from news_info left join user_info on news_info.user_stid = user_info.user_stid
        <if test="typeId != 0">
            where news_info.type_id = #{typeId}
        </if>
        order by new_id desc
    </select>

    <select id="selecNewsVObyid" parameterType="int" resultMap="NewsVO">
        select news_info.*,user_info.*
        from news_info left join user_info on news_info.user_stid = user_info.user_stid
        where new_id = #{id}
   </select>

    <!--    List<NewsInfoVO> selecNewsVOByUserStid(String userStid);-->
    <select id="selecNewsVOByUserStid" resultMap="NewsVO" parameterType="string">
        select news_info.*,user_info.*
        from news_info left join user_info on news_info.user_stid = user_info.user_stid
        <if test='userStid != "all"'>
            where news_info.user_stid = #{userStid}
        </if>
        order by new_id desc
    </select>

    <!--    List<SimpleNewsInfoVO> selectSimpleNewInfoByCount(int count);-->
    <select id="selectSimpleNewInfoByCount" resultMap="SimpleNewsVO" parameterType="int">
        SELECT
            news_info.new_id,
            news_info.new_title,
            news_info.new_imge,
            news_info.new_times
        FROM
            `news_info`
        ORDER BY
            news_info.new_times DESC
            LIMIT #{count}
    </select>


</mapper>
