<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:include="common_head :: commonHeader('修改用户')"></head>

<head>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <script src="/js/jquery.form.min.js"></script>
</head>
<body>
<div class="layui-tab">
    <ul class="layui-tab-title">
        <li class="layui-this">用户登录</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">

            <div class="login-div login-span">
                <form id="login-form" action="do/login" method="post" enctype="multipart/form-data"
                      onsubmit="return checkform();">
                    <span class="login-acct">
                        <i class="layui-icon layui-icon-username"></i><input id="user-stid" name="userStid" required type="number"
                                                                             class="inner-acct-text">
                    </span>
                    <br>
                    <span class="login-pass login-span">
                        <i class="layui-icon layui-icon-password"></i><input id="pass-word" name="userPass" type="password"
                                                                             class="inner-acct-text">
                    </span>
                    <div class="drag">
                        <div class="bg"></div>
                        <div class="text" onselectstart="return false;">请拖动滑块验证</div>
                        <div class="btn">&gt;&gt;</div>
                    </div>
                    <button class="login-btn" type="submit">点击登录</button>
                </form>
            </div>
            <div class="login-tail">
                <div class="login-a">
                    <a href="#" id="notPass">忘记密码</a>
                    <a href="#" id="register-btn-login">注册账号</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/common.js"></script>
<script>
    layui.use('element', function () {
        var element = layui.element;
    });

    //一、定义一个获取DOM元素的方法
    var $data = function (selector) {
            return document.querySelector(selector);
        },
        box = $data(".drag"),//容器
        bg = $data(".bg"),//背景
        text = $data(".text"),//文字
        btn = $data(".btn"),//滑块
        success = false,//是否通过验证的标志
        distance = box.offsetWidth - btn.offsetWidth;//滑动成功的宽度（距离）

    //二、给滑块注册鼠标按下事件
    btn.onmousedown = function (e) {

        //1.鼠标按下之前必须清除掉后面设置的过渡属性
        btn.style.transition = "";
        bg.style.transition = "";

        //说明：clientX 事件属性会返回当事件被触发时，鼠标指针向对于浏览器页面(或客户区)的水平坐标。

        //2.当滑块位于初始位置时，得到鼠标按下时的水平位置
        var e = e || window.event;
        var downX = e.clientX;

        //三、给文档注册鼠标移动事件
        document.onmousemove = function (e) {

            var e = e || window.event;
            //1.获取鼠标移动后的水平位置
            var moveX = e.clientX;

            //2.得到鼠标水平位置的偏移量（鼠标移动时的位置 - 鼠标按下时的位置）
            var offsetX = moveX - downX;

            //3.在这里判断一下：鼠标水平移动的距离 与 滑动成功的距离 之间的关系
            if (offsetX > distance) {
                offsetX = distance;//如果滑过了终点，就将它停留在终点位置
            } else if (offsetX < 0) {
                offsetX = 0;//如果滑到了起点的左侧，就将它重置为起点位置
            }

            //4.根据鼠标移动的距离来动态设置滑块的偏移量和背景颜色的宽度
            btn.style.left = offsetX + "px";
            bg.style.width = offsetX + "px";

            //如果鼠标的水平移动距离 = 滑动成功的宽度
            if (offsetX == distance) {

                //1.设置滑动成功后的样式
                text.innerHTML = "验证通过";
                text.style.color = "#fff";
                btn.innerHTML = "&radic;";
                btn.style.color = "green";
                bg.style.backgroundColor = "lightgreen";

                //2.设置滑动成功后的状态
                success = true;
                //成功后，清除掉鼠标按下事件和移动事件（因为移动时并不会涉及到鼠标松开事件）
                btn.onmousedown = null;
                document.onmousemove = null;
            }
        }

        //四、给文档注册鼠标松开事件
        document.onmouseup = function (e) {

            //如果鼠标松开时，滑到了终点，则验证通过
            if (success) {
                return;
            } else {
                //反之，则将滑块复位（设置了1s的属性过渡效果）
                btn.style.left = 0;
                bg.style.width = 0;
                btn.style.transition = "left 1s ease";
                bg.style.transition = "width 1s ease";
            }
            //只要鼠标松开了，说明此时不需要拖动滑块了，那么就清除鼠标移动和松开事件。
            document.onmousemove = null;
            document.onmouseup = null;
        }

    }

    function checkform() {
        if (success) {
            return true;
        } else {
            layer.msg("请滑动滑块进行验证！");
            return false;
        }
    }

    $(function () {
        //初始化页面layer;
        initPage();
        $("#login-form").ajaxForm(function (res) {
            if (res.result == "SUCCESS"){
                layer.msg("登录成功！");
                //重新加载网页;
                setTimeout(function () {
                    window.open("/get/user/info","_parent");
                },1500);
            }else if (res.message == "密码错误,请重新输入！"){
                layer.msg(res.message);
                //密码栏置为空;
                $("#pass-word").val("");
            }else {
                layer.msg(res.message);
                //密码栏置为空;
                $("#pass-word").val("");
                $("#user-stid").val("");
            }
        });
    });

    function initPage() {
        layui.use('layer', function(){
            layer = layui.layer;
        });
        $("#notPass").click(function () {
           layer.msg("该功能暂未开发，敬请期待！");
        });

        $("#register-btn-login").click(function () {
            layer.msg("请关闭本窗口，点击旁边的注册！");
        })
    }
</script>

</body>
</html>