*{
    padding: 0;
    margin: 0;
}

.container{
    width: 100%;
    height: 100%;
    position: relative;
}
.inner{
    margin: 0 auto;
    width: 1280px;
}

.inner .inner-head{
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 25px;
    font-family: "楷体";
    text-align: center;
}

.inner .inner-body{
    width: 80%;
    height: 1000px;
    /*background-color: pink;*/
    margin: 0 auto;

}

.inner .inner-body .inner-body-head{
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
}


.inner .inner-body .inner-body-head .inner-body-head-span{
    display: inline-block;
    margin-top: 10px;
    height: 60%;
    width: 100%;
    font-size: 16px;
    border: 1px solid #dbdee1;
    line-height: 60px;
    color: #8D8D8D;
    margin-top: 20px;
    border-radius: 5px;
}

.inner .inner-body .inner-body-head .inner-body-head-span:hover{
    border: 1px solid #1890ff;
    transition:border 0.2s
}

.inner .inner-body .inner-body-head i{
    margin-left: 23px;
    font-size: 25px;
    float: left;
}

.inner .inner-body .inner-body-head .inner-body-title{
    display: inline-block;
    height: 60px;
    margin-left: 20px;
    width: 90%;
    float: left;
    border:  0;
    border-left: 1px solid #dbdee1;
    border-radius: 0 5px ;
    color: #8D8D8D;
    font-size: 20px;
    font-family: "微软雅黑";
}

.inner .inner-body .inner-body-head .inner-body-title:hover{
    border-left: 1px solid #1890ff;
    transition:border-left 0.2s
}

.inner .inner-body .layui-upload{
    width: 100%;
    height: 100%;
}


.inner .inner-body .layui-upload .inner-upload-img{
    display: inline-block;
    width: 90%;
    height: 160px;
    border: 1px dashed #8D8D8D;
    border-radius: 5px;
}

.inner .inner-body .layui-upload .inner-upload-span{
    position: absolute;
    margin-left: 66px;
    margin-top: 35px;
    color: #8D8D8D;
    font-size: 25px;
    font-family: "微软雅黑";
}

.inner .inner-body .layui-upload .inner-upload-button{
    display: inline-block;
    background-color:#1890ff;
    font-size: 18px;
    color: #fff;
    border: 0;
    width: 234px;
    height: 61px;
    overflow: hidden;
    border-radius: 5px;
}

.inner .inner-body .layui-upload .inner-upload-button:hover{
    opacity:0.8;
    transition: opacity 0.2s ease-in-out;
}


.inner .inner-body .innner-editor{
    width: 100%;
}

.layui-field-title{
    margin: 0 5px !important;
}

.button-group .button-item{
}

.button-group .button-item:hover{
    border: 1px solid #1890ff;
    color: #1890ff;
    transition:color 0.2s
}

.active-btn{
    border: 1px solid #1890ff !important;
    color: #1890ff !important;
}

#test2{
    background-color: rgb(0, 150, 136);
;
}

