.inner{
    margin: 0 auto;
    width: 100%;
}


a:hover {
    color: #1890ff;
    transition: color 0.2s
}

.lunbo img{
    -webkit-filter: brightness(80%); /*考虑浏览器兼容性：兼容 Chrome, Safari, Opera */
    filter: brightness(80%);
    object-fit: cover;
    transition:all 0.5s;
}
.lunbo img:hover{
    transform: scale(1.01,1.01);
}
.lunbo{
    position: relative;
}

.lunbo .lunboText{
    overflow: hidden;
    color: #fff;
    font-family: "微软雅黑";
    font-size: 35px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 100;
}


.lunbo .lunboText:hover{
    transition:all 0.3s;
    color: #1890ff;
}

.inner-inner {
    margin: 0 auto;
    width: 1280px;
}


.article-item{
    margin-top: 12px;
    height: 250px;
}

.article-imag{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.article-item .article-imag{
    object-fit: cover;
    transition:all 0.5s;
}
.article-item .article-imag:hover{
    transform: scale(1.03,1.03);
}

.article-content a{
    display: inline-block;
    height: 200px;
}

.article-title{
    font-size: 19px;
    font-weight: inherit;
    line-height: 1.2;
    overflow: hidden;
    white-space: normal;
    color: rgb(128,128,128);
    margin-top: 20px;
    margin-bottom: 20px;
}

.article-title:hover{
    color: #1890ff;
    transition:color 0.2s
}

.article-summary{
    font-size: 17px;
    line-height: 1.2;
    overflow: hidden;
    white-space: normal;
    color: rgb(163,163,163);
    line-height: 30px;
    height: 120px;
}

.article-summary:hover{
    color: rgb(128,128,128);
    transition:color 0.2s
}

.article-content-main{
    padding-left: 10px;
    height: 250px;
}
.article-bottom div{
    float: left;
}

.article-bottom div{
    font-size: 15px;
    margin: 10px 15px 0 15px;
    line-height: 1.2;
    overflow: hidden;
    white-space: normal;
    color: rgb(128,128,128);
    line-height: 30px;
}



.article-bottom .autor img{
    width: 30px;
    height: 30px;
    border-radius:50%;
    margin-right: 5px;
}

.article-bottom .autor a{
    width: 100px;
    height: 30px;
}


.button-group .button-item{
    display: inline-block;
    margin: 5px 5px;
    padding: 7px;
    border-radius: 5px;
    background-color:  #fff;
    border: 1px solid gray;
    font-size: 14px;
    color: grey;
    overflow: hidden;
}

.button-group .button-item:hover{
    border: 1px solid #1890ff;
    color: #1890ff;
    transition:color 0.2s
}

.active-btn{
    border: 1px solid #1890ff !important;
    color: #1890ff !important;
}

.heat-meassge-group .heat-meassge-item{
    width: 100%;
    height: 100%;
    margin: 25px;
}

.heat-meassge-group .heat-meassge-item .heat-meassge-title{
    width: 100%;
    height: 75%;
    letter-spacing: 1px;
    font-size: 16px;
    color: rgb(128,128,128);
    margin: 10px 0;
}

.heat-meassge-group .heat-meassge-item .heat-meassge-read{
    width: 100%;
    height: 25%;
    color: rgb(168,168,168);
    font-size: 14px;
}

.heat-meassge-group .heat-meassge-item .heat-meassge-title:hover{
    color: #1890ff !important;
    transition:color 0.2s
}

.heat-meassge-group .heat-meassge-item:hover{
    box-shadow: 0 0px 3px grey;
    transition:0.3s
}


