# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\新建文件夹\team_web\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
